*
{
	margin: 0;
	padding: 0;
}
@media screen and (max-width: 600px){
	
header .hero{width:100%;overflow: none;}
.photo .img{width:100%;overflow: hidden;}	}


body{
	font-family: tahoma;
}
.hero{
	color:white;
	position: absolute;
	width: 1080px;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}
.row{
	max-width: 1180px;
	margin: 0 auto;
}
.main-nav{
	list-style:none;
	float: right;
}
.main-nav li{
	display: inline-block;
	margin-left: 20px;
	margin-top:60px;
}
.main-nav li a{
	color: white;
	text-decoration: none;
	font-size: 90%;
	font-weight: bold;
}
.main-nav li a:hover{
	color: #e67e22; 	   
	border-bottom: 2px solid orange;
	transition: all 0.5s ease-in;
	padding: 15px 0;
}
.btn{

	padding: 10px 30px;
	border: 1px solid #e67e22;
	color: #e67e22;
	text-decoration: none;
	border-radius: 20px;
	margin-right:15px;
}
.button-awesome{
	margin-top: 40px;
}
.btn-half{
	background-color: #e67e22;
	color: white;
}
.btn-full:hover{
	background-color: #e67e22;
	color: white;
	transition: all 0.5s ease-in; 	
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/selena.jpg) ;
	height: 100vh;
	background-position:center;
	background-size: cover; 
	background-attachment: fixed;
}
h1{
	color: white;
}

.copy{
	width: 70%;
	margin-left: 15%;
}

h3:after{
	width: 100px;
	height: 2px;
	background-color: #e67e22;
	display: block;
	content: " ";
	margin: 0 auto;
	margin-top: 30px;
}


.feature h3{
	margin-top: 60px;
	margin-bottom: 30px;
}
.show-picture{
	list-style: none;
	width: 100%;

}
.show-picture li{
	display: block;
	width: 25%;
	float: left;

}

.photo{
	width: 100%;
	margin: 0;
	overflow: hidden;
}
.photo img{
	width: auto;
	height: 300px;
	transform: scale(1.15);
	transition: all 0.5;
}
.photo img:hover{
	transform: scale(1.05);	
}
.about{
	font-family: Lobster;
}